/* Estilos personalizados */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  /* Animación en el encabezado */
  header {
    animation: slideIn 1s ease-out;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  